.t > h2 {
  position: relative;
  left: 50%;
  top: 50px;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 24px;
}

.main_container {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  left: 50%;
  top: 50px;
}
