@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.topArtist {
  background-color: #353535;
  width: 200px;
  height: 245px;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
h3 {
  border-bottom: 2px solid #a43aa5;
  padding: 3px;
  width: 180px;
  border-radius: 5px;
}
