.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.sidebar {
  margin-right: 20px;
  height: 100%;
  width: 200px;
}

.renderContainer {
  background-color: #353535;
  margin-right: 20px;
  border-radius: 5px;
  width: 100%;
}
