.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100px;
  width: 100px;
}

form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #353535;
}

input[type="text"] {
  border: none;
  background: transparent;
  padding: 5px 5px;
  font-size: 14px;
  width: 300px;
  color: #fff;
  text-align: left;
}

input[type="text"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  border: none;
  padding: 0;
  background: url("../../assets/images/svg/search.svg") no-repeat center;
  height: 40px;
  fill: #bbb;
  color: transparent;
}

button[type="submit"] img {
  width: 25px;
}

.user_account {
  display: flex;
  color: white;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
  & img {
    height: 50px;
    width: 50px;
  }
}
